<% unless cart.items.empty? %>
  <div id="cartTitle">Your Cart</div> 
  <ul class="cartlist">
    <%= render(:partial => "cart_item", :collection => cart.items) %>
  </ul>
  <div id="total">
    <b>Cart Total</b>
    <big><%=h number_to_currency( @cart.total_price / 100.0 )%></big>
  </div>
  <hr size="1" />
  <%# button_to "Empty cart", :action => :empty_cart %>

    <% form_remote_tag :url => { :action => :empty_cart} do -%>
      <%= submit_tag "Empty Cart" %> 
    <% end -%> 
<% end %>